footer{
  background-color: #E4E3E3;
  padding: 20px 0;
  text-align: center;
  @extend %container--fluid;
  @include minipad{
    padding: 65px 0;
  }
  div{
    font-size: 12px;
    letter-spacing: 0px;
    font-family: $font-family--sans-serif;
    @include minipad{
      font-size: 22px;
      letter-spacing: 4px;
    }
    a{
      color:$maincolor;
      &:hover{
        color: darken( $maincolor, 20%);
      }
    }
  }
}
