%clearfix {
    &:after {
        content: '';
        display: table;
        clear: both;
    }
}

%img-fluid {
    max-width: 100%;
    height: auto;
}

%title {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3rem;
    letter-spacing: 3px;
    margin-bottom: 15px;
}

%title-small {
    font-weight: bold;
    font-size: 1.1rem;
    padding-bottom: 10px;
    text-transform: uppercase;
}