@import 'extends';

#tabs {
    margin-bottom: 100px;

    #overview,
    #features,
    #review {
        display: none;
    }

    #overview:target,
    #features:target,
    #review:target {
        border: 1px solid red;
    }

    //當選擇任一標籤後，第一筆恢復成未選取前樣式
    span:target ~ #tab > ul li:first-child a {
        background-color: #fff;
        color: #000;
    }

    //當選擇任一標籤後，第一筆恢復成未選取前樣式
    span:target ~ #tab > div:first-of-type {
        visibility:hidden;
        height:0;
        border: 0;
        padding: 0;
    }

    span ~ #tab > ul li:first-of-type a, //讓第一筆預設出現
    #overview:target ~ #tab ul li a[href="#overview"],
    #features:target ~ #tab ul li a[href="#features"],
    #review:target ~ #tab ul li a[href="#review"] {
        background-color: #f00;
        color: #fff;
    }

    span ~ #tab > div:first-of-type, //讓第一筆預設出現
    #overview:target ~ #tab div.content-overview,
    #features:target ~ #tab div.content-features,
    #review:target ~ #tab div.content-review {
        visibility: visible;
        overflow: auto;
        border: 1px solid #ccc;
        padding: 30px 15px;
        height: auto;
    }
}

#tab {
    & > ul {
        @extend %clearfix;
        li {
            float: left;
            margin-right: 2px;
            &:last-child {
                margin-right: 0;
            }

            a {
                background-color: #fff;
                color: #000;
                display: block;
                font-weight: bold;
                padding: 12px;

                @media (max-width: 576px) {
                    font-size: 0.5rem;
                }
            }
        }
    }

    .content-overview,
    .content-features,
    .content-review {
        background-color: #fff;
        height: 0;
        overflow: hidden;
        visibility: hidden;
        
        .details {
            margin-top: 15px;

            h5 {
                color: #f00;
            }
        }
    }
}
