// color
$maincolor: #FF1049;
$navcolor: #391139;
$footercolor: #E4E3E3;
// font
$font-family--serif: serif;
$font-family--sans-serif: sans-serif;
//width
$width--phone: 576px;
$width--minipad: 768px;
$width--pad: 992px;
$width--pc: 1300px;
